/* 
    General Styles
*/


body {
    background-image: url("https://cdn.wallpapersafari.com/78/5/0XgYfI.jpg");
  background-repeat: repeat-y;
    
}

.card-img-top {
  object-fit: cover;
  width:230px;
  height:230px;
}

